<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>card</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <style>
  body{
    padding:0px;
    background-color:#900020;
    color:white;
    font-family: "Anta";
  }

  #active-text{
    font-size:120%;
    margin-bottom:10px;
  }
  </style>
</head>

<body>

  <nav class="bg-gray-800 border-b">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-evenly">

    <ul class="flex space-x-4">
        <a href="/encyclopedia" class=" hover:text-red-600">
          Encyclopedia
        </a>
    </ul>

    <ul class="flex space-x-4">
        <a href="/game" class=" hover:text-red-600">
          Game
        </a>
    </ul>

    <ul class="flex space-x-4 text-blue-700">
        <a href="/" class=" hover:text-red-600">
          Profile
        </a>
    </ul>
  <ul class="flex space-x-4">
  <form action="{{url_for('logout')}}" method="POST">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Logout</button>
  </form>
  </ul>
  </div>
  </nav>

<div class="p-8">
    <script>
      var deck1="{{deck1}}"
      var deck2="{{deck2}}"
      var num_deck1=(deck1.split("{{card_id}}").length-1)
      var num_deck2=(deck2.split("{{card_id}}").length-1)

      var data = "{{data}}";
      const id=parseInt("{{card_id}}")+1
      data = data.split("\n");
      for (let i = 0; i<data.length;i++){
        data[i]=data[i].split(",");
}
      data.pop();
      var values={};
      for (let i =0;i<data[0].length;i++){
        values[data[0][i]]=data[id][i]
}
       document.write(`
          <br><br><h1 class="text-4xl font-bold mb-8 text-center">${values["name"]}</h1>

  <div class="grid grid-rows-3 grid-cols-1 sm:grid-cols-2 gap-10">

<div class="row-span-3">
                  <img class="w-200 aspect-63/88 object-cover" src="../static/cards/${values["card_id"]}.png" alt="Image ${values["card_id"]}" />
</div>
<div class=" text-center">
<h2>Health: ${values["max_hp"]} Defense: ${values["def"]} Speed: ${values["spd"]}</h2>
</div>
<div class="text-center">
<h2>Move: ${values["atk_name"]}</h2>
<h2>${values["atk_desc"]}</h2>
</div>

<div class="text-center">
<h2>Number in Deck1: ${num_deck1}</h2>

<a
            href="/addDeck1/${values["card_id"]}"
            class="inline-block border border-gray-600 text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-800 transition"
          >
            +
          </a>
<a
            href="/removeDeck1/${values["card_id"]}"
            class="inline-block border border-gray-600 text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-800 transition"
          >
            -
          </a>

<br>
<br>

<h2>Number in Deck2: ${num_deck2}</h2>


<a
            href="/addDeck2/${values["card_id"]}"
            class="inline-block border border-gray-600 text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-800 transition"
          >
            +
          </a>
<a
            href="/removeDeck2/${values["card_id"]}"
            class="inline-block border border-gray-600 text-gray-200 px-4 py-2 rounded-lg hover:bg-gray-800 transition"
          >
            -
          </a>


</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

`);


deck1=deck1.split(";");
deck1.shift();
console.log(deck1);
document.write(`
<h1 class="sticky top-0 group text-blue-500 text-center" id="active-text">Your Saved Deck 1:</h1>
<div class="grid grid-cols-8">

`)

for (var i=0;i<deck1.length;i++){
    document.write(`

<div>
    <img class="w-200 aspect-63/88 object-cover" src="../static/cards/${deck1[i]}.png" alt="Image ${deck1[i]}" />
</div>
`)
}
for(var i=0;i<8-deck1.length;i++){
    document.write(`
<div class="content-center gap-4 rounded-lg bg-gray-800 p-6 shadow-md outline outline-black/5 dark:bg-gray-800">
<h1 class="text-center">Empty</h1>
</div>

`)
}



deck2=deck2.split(";");
deck2.shift();
console.log(deck2);
document.write(`
</div>
<br>
<br>
<br>
<h1 class="sticky top-0 group text-blue-500 text-center" id="active-text">Your Saved Deck 2:</h1>
<div class="grid grid-cols-8">
`)

for (var i=0;i<deck2.length;i++){
    document.write(`

<div>
    <img class="w-200 aspect-63/88 object-cover" src="../static/cards/${deck2[i]}.png" alt="Image ${deck2[i]}" />
</div>
`)
}
for(var i=0;i<8-deck2.length;i++){
    document.write(`
<div class="content-center gap-4 rounded-lg bg-gray-800 p-6 shadow-md outline outline-black/5 dark:bg-gray-800">
<h1 class="text-center">Empty</h1>
</div>

`)
}



    </script>
  </div>
</body>
</html>
