<html>

testing

<div id = "playfield">


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script>




const set_1 = "0;1".split(";");
const set_2 = "3;2".split(";");

const csv_str = "{{testingtesting}}";
var data = Papa.parse(csv_str,
{
    newline: "\n",
    header: true
});
data = data["data"];
console.log(data);

var numCards = 0;

var all_cards = [];
var cards_1 = fillDeck(set_1);
var cards_2 = fillDeck(set_2);

console.log(cards_1);
console.log(cards_2);
console.log(all_cards);

var test = document.getElementById("playfield");

for(let i = 0; i < numCards; i++)
{
    test.innerHTML += `<button id="card-${all_cards[i]["game_id"]}" value="${all_cards[i]["game_id"]}">${all_cards[i]["game_id"]}, HP: ${all_cards[i]["current_hp"]}</button>\n`;
}

var card_buttons = [];

for(let i = 0; i < numCards; i++)
{
    card_buttons.push(document.getElementById(`card-${i}`));
    card_buttons[i].addEventListener("click", damageCard);
}

function damageCard(event)
{
    var card_id = parseInt(event.target.value);
    console.log(event.target);
    all_cards[card_id]["current_hp"] = all_cards[card_id]["current_hp"] - 1;
    var card_hp = parseInt(all_cards[card_id]["current_hp"]);
    
    event.target.innerText = `${card_id}, HP: ${card_hp.toString()}`;
    
}

function fillDeck(set)
{
    var cards = [];
    for(let i = 0; i < set_2.length; i++)
    {
        var current = data[set[i]];
        cards.push(new Card(current["card_id"], current["max_hp"], current["atk"], current["def"], current["spd"], current["max_hp"], 0, 0, numCards ));
        all_cards.push(cards[i]);
        numCards++;
    }
    
    return cards;
}

function Card(card_id, max_hp, atk, def, spd, current_hp, buffs, used_special, game_id)
{
    this.card_id = card_id;
    this.max_hp = max_hp;
    this.atk = atk;
    this.def = def;
    this.spd = spd;
    this.current_hp = current_hp;
    this.buffs = buffs;
    this.used_special = used_special;
    this.game_id = game_id;
}



</script>



</html>