<html>

testing

<div id = "playfield">

<div id="active-field">
<button id = "active-card" value="-1">Active Card</button><br>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script>




const set_1 = "0;1".split(";");
const set_2 = "3;2".split(";");

const csv_str = "{{testingtesting}}";
var data = Papa.parse(csv_str,
{
    newline: "\n",
    header: true
});
data = data["data"];
console.log(data);

var numCards = 0;

var all_cards = [];
var cards_1 = fillDeck(set_1);
var cards_2 = fillDeck(set_2);
var active_card = parseInt(document.getElementById("active-card").value);



console.log(cards_1);
console.log(cards_2);
console.log(all_cards);

var test = document.getElementById("playfield");

for(let i = 0; i < numCards; i++)
{
    test.innerHTML += `<div id="${all_cards[i]["game_id"]}-field">\n <button id="card-${all_cards[i]["game_id"]}" value="${all_cards[i]["game_id"]}">${all_cards[i]["game_id"]}, HP: ${all_cards[i]["current_hp"]}</button>\n <button id="card-${all_cards[i]["game_id"]}-active" value="${all_cards[i]["game_id"]}">Make Card ${all_cards[i]["game_id"]} Active</button>\n<br></div>`;
}

var card_buttons = [];

for(let i = 0; i < numCards; i++)
{
    document.getElementById(`card-${i}-active`).addEventListener("click", makeActive);
    card_buttons.push(document.getElementById(`card-${i}`));
    card_buttons[i].addEventListener("click", attackCardClick);
}

function makeActive(event)
{
    var new_active_id = parseInt(event.target.value);
    var active_div = document.getElementById("active-field");
    console.log(active_div.firstElementChild);
    var active_card_id = parseInt(active_div.firstElementChild.value);
    
    if(active_card_id != -1)
    {
        var temp = document.getElementById(`${new_active_id}-field`);
        var playfield = document.getElementById("playfield");
        playfield.innerHTML += active_div.innerHTML;
        active_div.innerHTML = temp.innerHTML;
        element.remove(document.getElementById(`${new_active_id}-field`));
        
    }
    else{
        var temp = document.getElementById(`${new_active_id}-field`);
        active_div.innerHTML = temp.innerHTML;
        element.remove(document.getElementById(`${new_active_id}-field`));
    }
    console.log(new_active_id);
    active_card = parseInt(new_active_id);
}

function attackCard(attacker_id, defender_id)
{
    var attacker = all_cards[attacker_id];
    var defender = all_cards[defender_id];
    
    var damage_dealing = parseInt(attacker["atk"]) + parseInt(attacker["buffs"]);
    var defense = parseInt(defender["def"]) + parseInt(defender["buffs"]);
    var final_damage = damage_dealing - defense;
    
    if(final_damage > -1)
    {
        damageCard(defender_id, final_damage);
    }
    // all_cards[defender_id]["current_hp"] = all_cards[defender_id]["current_hp"] - final_damage;
    
    if(all_cards[defender_id]["current_hp"] <= 0)
    {
        setHP(defender_id, 0);
        return -1;
    }
}

function setHP(card_id, amt)
{
    all_cards[card_id]["current_hp"] = amt;
    var card_hp = parseInt(all_cards[card_id]["current_hp"]);
    
    card_buttons[card_id].innerText = `${card_id}, HP: ${card_hp.toString()}`;
}

function attackCardClick(event)
{
    var card_id = parseInt(event.target.value);
    attackCard(active_card, card_id);
}

function damageCard(card_id, damage)
{
    all_cards[card_id]["current_hp"] = all_cards[card_id]["current_hp"] - damage;
    console.log(all_cards[card_id]["current_hp"] + " , " + damage);
    var card_hp = parseInt(all_cards[card_id]["current_hp"]);
    
    card_buttons[card_id].innerText = `${card_id}, HP: ${card_hp.toString()}`;
    
}

function fillDeck(set)
{
    var cards = [];
    for(let i = 0; i < set_2.length; i++)
    {
        var current = data[set[i]];
        cards.push(new Card(current["card_id"], current["max_hp"], current["atk"], current["def"], current["spd"], current["max_hp"], 0, 0, numCards ));
        all_cards.push(cards[i]);
        numCards++;
    }
    
    return cards;
}

function Card(card_id, max_hp, atk, def, spd, current_hp, buffs, used_special, game_id)
{
    this.card_id = card_id;
    this.max_hp = max_hp;
    this.atk = atk;
    this.def = def;
    this.spd = spd;
    this.current_hp = current_hp;
    this.buffs = buffs;
    this.used_special = used_special;
    this.game_id = game_id;
}



</script>



</html>