<html>

testing

<div id = "card1">
<p id = "1-atk" value="2">e</p>


</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
<script>

const set_1 = "0;1".split(";");
const set_2 = "1;0".split(";");

const csv_str = "{{testingtesting}}";
var data = Papa.parse(csv_str,
{
    newline: "\n",
    header: true
});
data = data["data"];
console.log(data);

var numCards = 0;

var cards_1 = [];
var cards_2 = [];
for(let i = 0; i < set_1.length; i++)
{
    var current = data[set_1[i]];
    cards_1.push(new Card(current["card_id"], current["max_hp"], current["atk"], current["def"], current["spd"], current["max_hp"], 0, 0, numCards ));
    numCards++;
}

console.log(cards_1);


function Card(card_id, max_hp, atk, def, spd, current_hp, buffs, used_special, game_id)
{
    this.card_id = card_id;
    this.max_hp = max_hp;
    this.atk = atk;
    this.def = def;
    this.spd = spd;
    this.current_hp = current_hp;
    this.buffs = buffs;
    this.used_special = used_special;
    this.game_id = game_id;
}



</script>



</html>