<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leaderboard</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
  <style>
  body{
    padding:0px;
    background-color:#900020;
    color:white;
    font-family: "Anta";
  }

  #head1{
    font-size:110%;
    font-weight:bold;
  }

  #notnav{
    padding:50px;
  }

  #active-text{
    font-size:120%;
    margin-bottom:10px;
  }

  #header{
    font-size:150%;
  }
  </style>
</head>

<body>
  <nav class="bg-gray-800 border-b fixed top-0 right-0 left-0 w-full z-50">
  <div class="max-w-6xl mx-auto px-4 py-3 flex items-center justify-evenly">

    <ul class="flex space-x-4 text-blue-700">
        <a href="/home" class=" hover:text-red-600">
          Home
        </a>
    </ul>

    <ul class="flex space-x-4">
        <a href="/encyclopedia" class=" hover:text-red-600">
          Encyclopedia
        </a>
    </ul>

    <ul class="flex space-x-4">
        <a href="/game" class=" hover:text-red-600">
          Game
        </a>
    </ul>

    <ul class="flex space-x-4">
        <a href="/profile" class=" hover:text-red-600">
          Profile
        </a>
    </ul>
<ul class="flex space-x-4">
  <form action="{{url_for('logout')}}" method="POST">
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Logout</button>
  </form>
</ul>
</div>
</nav>

<div class="p-8" id="notnav">
  <div class="p-8">
    <br>
    <br>
    <h1 class="text-4xl font-bold mb-8 text-center">Leaderboard</h1>
  </div>

<div id = "top-players">
<div class="text-2xl font-bold"> Top Players (by number of wins): </div>
<br>
{{ users_list | safe }}
</div>

<br><br><br><br>

<div id = "most-used-cards">
<div class="text-2xl font-bold"> Top Cards (by number of wins): </div>
<br>
{{ cards_list | safe }}
</div>

<!-- things i could add:
- players & cards by winrate | add num wins & games played to card & user dbs
- most used cards | very simple
-->
