<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
  <nav>
    <form action="{{url_for('encyclopedia')}}" method="POST">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Encyclopedia</button>
    </form>
    <form action="{{url_for('profile')}}" method="POST">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Profile</button>
    </form>
    <form action="{{url_for('logout')}}" method="POST">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Logout</button>
    </form>
  </nav>
  <br>
  <br>
      <br>
      <div class= "text-center">
         <h2>User Information: {{user}}</h2>
         <img src= "{{ icon }}" class= "img-fluid" alt= "profilepic" style="width:150px; height:150px; object-fit:cover;">
      </div>
      <br>
      <br>
      <br>
      <details class = "profile-select">
         <summary class="button" style="font-size: 150%;">Change Profile Picture</summary>
         <br>
         <div class = "profile-icons">
            {% for icon in profile_icons %}
            <form action = "/profile" method = "POST" style="display: inline;">
               <input type = "hidden" name = "profile_icon" value = "{{ icon }}">
               <button type = "submit" class = "icon-button">
               <img src = "{{ icon }}" class = "profile-icon" alt = "Profile Icon {{ loop.index }}" style="width:150px; height:150px; object-fit:cover;">
               </button>
            </form>
            {% endfor %}
         </div>
      </details>
   </body>
</html>
